
.body {
  line-height: inherit;
}
body {
  line-height: inherit;
}

.selectize-control {
  margin-bottom: 0px;
  margin-top: 0px;
}

.form-group {
  margin-bottom: 10px;
}

.box-header {
  padding: 10px 0px 0px 10px;
}

.main-header .logo {
  font-family: "Georgia", serif;
  font-weight: bold;
  font-size: 24px;
}

.has-feedback .form-control {
  padding-right: 2px;
}
.form-control {
  padding: 2px;
  padding-left: 4px;
  height: 25px;
  line-height: 25px;
}
.form-control-feedback {
  line-height: 25px;
  width: inherit !important;
}
table.dataTable tbody th, table.dataTable tbody td,
table.dataTable thead th, table.dataTable thead td {
  padding: 2px 18px 2px 10px !important;
}

/*table.dataTable th.dt-right, table.dataTable td.dt-right {
    word-break: break-all;
}*/

/* tooltip for sparkline rendered with bootstrap
   see https://github.com/htmlwidgets/sparkline/issues/4 */
.jqstooltip {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
div[id=samples_overview]>div>table>thead>tr> th:first-child,
div[id=samples_overview]>div>table>tbody>tr> td:first-child {
  min-width: 125px;
}
div[id=samples_comparison]>div>table>thead>tr> th:first-child,
div[id=samples_comparison]>div>table>tbody>tr> td:first-child {
  min-width: 125px;
}
.glyphicon glyphicon-remove-circle form-control-feedback {
  position: relative !important;
  width: unset !important;
  height: unset !important;
}

.sunburst-sidebar {
  position: absolute;
  width: 20%;
  left: 80%;
  top: 40px;
}

.sunburst-legend {
  padding: 2px 0 0 3px;
}

.sunburst-sequence text, .sunburst-legend text {
  font-weight: normal;
  fill: #fff;
  font-size: small;
}



#data-title {
    text-align:center;
}

#drop-area {
    background-color:#BCED91;
    border:2px solid #46523C;
    border-radius:25px;
    height:90px;
    overflow:auto;
    padding:12px;
}

#drop-area #datasets {
    display:inline-block;
    font-size:small;
    margin-right:8px;
    text-align:center;
    vertical-align:top;
}

.thumb {
    height:45px;
}


/* SIDEBAR */

/*
.sidebar {
  color: black !important;
}

.sidebar a {
  color: black !important;
}

.sidebar a:active, .sidebar a:focus, .sidebar a:hover {
  color: #fff !important;
}

.main-sidebar {
  background-color: #ccc !important;
}

.sidebar-menu>li.active>a, .sidebar-menu>li:hover>a {
  color: #fff !important;
}
*/

.main-header .logo , .main-header .navbar {
    background: #164f9a; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#164f9a, #477cb2); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#164f9a, #477cb2); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#164f9a, #477cb2); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#164f9a, #477cb2); /* Standard syntax */

}

.sidebartext {
    padding: 10px !important;
    color: #ccc;
}

table.dataTable tr.selected td, table.dataTable td.selected {
    background-color: white-space !important;
    font-weight: bold;
}

table.dataTable thead .sorting {
  background-image: none;
  padding: 2px 2px 2px 2px !important;
}
